In [1]:
import pandas as pd
import numpy as np

In [4]:
scores1 = pd.read_csv("outputs/scores/scores_TFIDF.csv")

In [5]:
scores1

,innovation,integrity,quality,respect,teamwork,document_length,Doc_ID
0,30.205947,12.241820,42.917816,20.447753,27.798471,2637.0,1001004.F
1,9.931626,22.209360,5.452088,21.630462,41.765172,979.0,1002086.F
2,10.132909,3.958568,11.037050,9.803150,5.989636,1367.0,1002822.F
3,41.779646,15.858646,13.044196,15.318659,10.172494,2548.0,1003151.F
4,21.762184,5.041990,18.881542,6.008328,9.319201,1416.0,1004066.F
...,...,...,...,...,...,...,...
1388,19.405186,0.000000,8.283125,4.103721,9.149599,525.0,995291.F
1389,23.310801,16.576246,11.651937,12.824221,47.566866,2431.0,996465.F
1390,38.303910,20.170359,15.208386,13.120053,41.249974,2444.0,997475.F
1391,74.270993,47.629855,22.578671,25.860325,6.395101,2089.0,9975337.F
1392,43.510099,10.384085,69.767374,12.851128,15.294452,1597.0,999844.F

In [6]:
contrib = pd.read_csv("outputs/scores/word_contributions/word_contribution_TFIDF.csv")

In [7]:
contrib

                Unnamed: 0         0
0          please_go_ahead  1.320133
1                     work  0.592843
2                    field  0.392873
3                 customer  1.301768
4                selection  0.083691
...                    ...       ...
1542  manufacturing_system  0.010523
1543           non-selling  0.014877
1544       power_amplifier  0.032673
1545          gmm_position  0.014193
1546          grass_-_root  0.024154

[1547 rows x 2 columns]